# .env.main
BASE_URL=https://practicesoftwaretesting.com
API_URL=https://api.practicesoftwaretesting.com
USER_EMAIL=customer2@practicesoftwaretesting.com
USER_PASSWORD=welcome01

# .env.buggy
BASE_URL=https://with-bugs.practicesoftwaretesting.com
API_URL=https://api.practicesoftwaretesting.com
USER_EMAIL=customer2@practicesoftwaretesting.com
USER_PASSWORD=welcome01